@model IEnumerable<Recipes.Data.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Всички категории</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Създай нова категория</a>
</p>
<table class="table table-bordered table-hover table-striped" id="DataTable">
    <thead>
        <tr>
            <th>
                Име
            </th>          
            <th>
                Създадена на
            </th>
            <th>Възможни действия</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Редакция</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детайли</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Изтриване</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#DataTable').DataTable();
        });
    </script>
}
