@using Recipes.Common
@model Recipes.Web.ViewModels.Home.IndexViewModel
@{
    this.ViewData["Title"] = "Начална страница";
}
@section Styles{
    <link href="~/css/HighChartDemo/index.css" rel="stylesheet" />
}

<div class="text-center row">
    <h1 class="display-4">Добре дошли в сайта за рецепти.</h1>
    <hr />
    <div class="col-md-8">
        <h4>Случайни рецепти:</h4>
        <div class="row">
            <hr />
            @foreach (var recipe in Model.RandomRecipes)
            {
                <div class="card col-md-4" style="width: 18rem;">
                    <img class="card-img-top" src="@recipe.ImageUrl" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@recipe.Name</h5>
                        <p class="card-text">@recipe.CategoryName</p>
                        <a asp-controller="Recipes" asp-action="ById" asp-route-id="@recipe.Id" class="btn btn-primary">Виж рецептата</a>
                    </div>
                </div>
            }
        </div>
    </div>

    <div id="numbers" class="col-md-3">
        <p>При нас има:</p>
        <ul class="list-group">
            <li class="list-group-item bg-info">Рецепти: @Model.RecepiesCount</li>
            <li class="list-group-item bg-light">Категории: @Model.CategoriesCount</li>
            <li class="list-group-item bg-info">Снимки: @Model.ImagesCount</li>
            <li class="list-group-item bg-light">Съставки: @Model.IngredientsCount</li>
        </ul>
    </div>

</div>

@*<div class='buttons'>
    <button id='2000'>
        2000
    </button>
    <button id='2004'>
        2004
    </button>
    <button id='2008'>
        2008
    </button>
    <button id='2012'>
        2012
    </button>
    <button id='2016' class='active'>
        2016
    </button>
</div>
<div id="container"></div>

@section Scripts {
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="~/js/HighChartDemo/index.js"></script>
}*@