@using Recipes.Web.ViewModels.Recipes
@using Recipes.Common
@model SingleRecipeViewModel

@{
    ViewData["Title"] = Model.Name;
}

<script src="https://kit.fontawesome.com/3c54b527d8.js" crossorigin="anonymous"></script>

<div class="recipeElements">
    <h4><b><i class="fas fa-utensils"></i> Категория:</b> @Model.CategoryName <span>(В тази категория има общо @Model.CategoryRecipesCount рецепти)</span></h4>
    <h5><b>@Model.Name 
        @if (Model.OriginalUrl != null)
        {
            <l> (Рецептата е взета от @Model.OriginalUrl)</l>
        }
        </b></h5>
    <br />
    <p><b><i class="far fa-calendar-alt"></i> Дата на добавяне:</b> @Model.CreatedOn.ToShortDateString() | <b><i class="fas fa-user-tie"></i> Добавена от:</b> @(Model.AddedByUserUserName ?? "Неизвестен") | <b>
    <i class="fas fa-user-check"></i> Обща оценка:
    
    <i data-vote="1" class="fas fa-star @if (Model.VotesAverageValue >= 1) {<text>text text-warning</text>}"></i>
    <i data-vote="2" class="fas fa-star @if (Model.VotesAverageValue >= 2) {<text>text text-warning</text>}"></i>
    <i data-vote="3" class="fas fa-star @if (Model.VotesAverageValue >= 3) {<text>text text-warning</text>}"></i>
    <i data-vote="4" class="fas fa-star @if (Model.VotesAverageValue >= 4) {<text>text text-warning</text>}"></i>
    <i data-vote="5" class="fas fa-star @if (Model.VotesAverageValue >= 4.6) {<text>text text-warning</text>}"></i>

</b>  - <span id="averageVoteValue">@Model.VotesAverageValue.ToString("0.0")</span> от 5.0</p>
    <p><b><i class="fas fa-history"></i> Време за подготовка: </b>@Model.PreparationTime.TotalMinutes минути. | <b><i class="fas fa-clock"></i> Време за готвене: </b>@Model.CookingTime.TotalMinutes минути. | <b><i class="fas fa-user-friends"></i> Брой порции: </b>@Model.PortionCount</p>
    <img class="img-fluid" src="@Model.ImageUrl" alt="снимка" />
    <hr />
    <h5><i class="far fa-address-book"></i> Съставки:</h5>
    <div class="ingredients">
        <ul>
            @foreach (var ingredient in Model.Ingredients)
            {
                <li>@ingredient.IngredientName - <b>@ingredient.Quantity</b></li>
            }
        </ul>
    </div>
    <hr />
    <h5><i class="fas fa-book-open"></i> Начин на приготвяне:</h5>
    <p>@Model.Instructions</p>

    @if (User.IsInRole(GlobalConstants.AdministratorRoleName))
    {
        <hr />
        <a asp-controller="Recipes" asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-success">Редактирай рецептата</a>
    }

</div>

<form method="post" id="antiForgeryForm"></form>

@section Scripts {
    <script>
        $("i[data-vote]").each(function (el) {
            $(this).click(function () {
                var value = $(this).attr("data-vote");
                var recipeId = @Model.Id;
                var antiForgeryToken = $('#antiForgeryForm input[name=__RequestVerificationToken]').val();               

                var data = { recipeId: recipeId, value: value };

                $.ajax({
                    type: "POST",
                    url: "/api/Votes",
                    data: JSON.stringify(data),
                    headers: {
                        'X-CSRF-TOKEN': antiForgeryToken
                    },
                    success: function (data) {
                        $('#averageVoteValue').html(data.averageVote.toFixed(1));
                    },
                    contentType: 'application/json',
                });
            })
        });
    </script>
}